
.note_div{
    color:black;
    font-size: 16px;
}

.heading_div{
    font-size: 25px;
  box-shadow: 5px 5px  35px yellowgreen;  
  top: 0;
  margin-top: 0;
}

.copy_right_footer{
float: none;
position: absolute;
color: purple;
box-shadow: 2px 2px 20px green;
margin-top: 480px;
width: 100%;
text-align: center;
line-height: 2;
background-color: lightgray;
}

p{
  font-size:18;
  color: blue;
}

canvas{
  border:2px ridge turquoise;
  border-radius: 40px blue;
  background-color: wheat;

}